/*Stylesheet Cozy Tea*/

/*Colour variables*/
:root {
    --primary-bg-colour: black; 
    --primary-colour-1: seashell;
}
/*Colour variables end*/

/*Global styles*/
* {
    text-decoration: none;
}

/*Global styles End*/

